@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 239, 234);
    font-family: "Playfair Display", serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Style for header element */
header {
    margin-left: 0;
    margin-right: 0;
    font-family: "Quicksand", sans-serif;
}

.navbar-nav {
    margin-right: 100px;
    font-size: 18px;
}

/* Style for logo image */
.logo a img {
    width: 400px;
    height: auto;
}

/* HOME PAGE */

.dan-index-page {
    padding: 60px;
    background-color: rgb(252, 251, 250);
    margin-top: 100px;
    margin-bottom: 40px;
}
.dan-photo {
    height: 500px;
    width: auto;
}

.index-about-card {
    background-color: rgb(243, 239, 234);
}

.index-h5 {
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
    font-size: 1.7em;
    padding: 15px;

}

.index-p {
    text-align: left;
    padding: 10px;
}

.artwork-card {
    background-color: rgb(252, 251, 250);
}

.artwork-card:hover {
    transform: translateY(-5px);
}

.artwork-card .card-text {
    font-size: 0.8em;
    font-family: "Quicksand", sans-serif;
}

a > .artwork-card {
    color: #333; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

.artwork-card a:hover {
    color: #9c9fa1; 
}

.card-body {
    padding: 1px;
}

.index-page-btn {
    border:rgba(0, 0, 0, 0.5) solid 1px;
    font-style: italic;
    float: left;
    margin-left: 15px;
}

/*ABOUT*/

.title{
    color: white;
}

.h2-about {
    font-size: 2em;
    font-weight: 600;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

.p-about {
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
}

.p-last {
    font-family: "Quicksand", sans-serif;
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.citat-about {
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.about-logo {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

.about-pictures {
    margin-top: 2px;
}
/* Gallery */

.sold {
    color:#d15c5c;
    font-weight: 600;
}

.white-line-gallery{
    background-color: rgb(252, 251, 250);
    padding: 20px;
    text-transform: uppercase;
}


.collection-gallery {
    text-align: center;
    padding: 20px 0;
}


.collection-gallery ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.collection-gallery li {
    display: inline-block;
    margin-right: 15px; 
    font-weight: bold;
    font-size: 18px;
}

/* Style the anchor tags */
.collection-gallery a {
    color: #333;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}


.collection-gallery a:hover {
    border-bottom-color: #9c9fa1;
}

.gallery-section {
    padding: 20px 0;
}

.artwork-image {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
}

.artwork-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #626161;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; 
}

/* Hover effect */
.artwork-container:hover .artwork-image{
    opacity: 0.7; /* Make the image slightly transparent on hover */
    transform: scale(1.1); /* Scale up on hover */
}

.artwork-container:hover .artwork-info {
    opacity: 1; /* Show info on hover */
}

.artwork-container {
    position: relative;
    overflow: hidden;
}
/* Popup box */
.enlarged-image-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Popup image */
.popup-image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 800px;
    max-height: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}


/* Portfolio */

.portfolio-artwork-img {
    width: 100%;
    height: auto;
}

.portfolio-artwork {
    padding: 20px;
    height: 100%; 
}

/* CONTACT */

/* Collaboration Form */


#carouselExampleIndicators {
    justify-content: center;
    display: flex;
}
.collaboration-form {
    margin-top: 60px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.collaboration-form h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.collaboration-form label {
    font-weight: 500;
}

.collaboration-form input[type="text"],
.collaboration-form input[type="email"],
.collaboration-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.collaboration-form textarea {
    resize: vertical;
    min-height: 150px;
}

.collaboration-form button[type="submit"] {
    display: block;
    width: 20%;
    padding: 10px;
    border:rgba(0, 0, 0, 0.5) solid 1px;
    border-radius: 5px;
    background-color: rgb(243, 239, 234);
    color: #000000;
    font-size: 18px;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.collaboration-form button[type="submit"]:hover {
    color: #9c9fa1;
}


/* Footer */
.footer {
    background-color: rgb(243, 239, 234);
    padding: 20px 0;
}

.represent {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.represent-galleries {
    margin-bottom: 10px;
    font-family: "Quicksand", sans-serif;
}

.gallery-link {
    text-decoration: none;
    color: #626161;
    transition: color 0.3s ease;
}

.gallery-link:hover {
    color: #9c9fa1;
}

.footer p {
    font-size: 14px;
    color: #000000;
}

.land {
    font-style: italic;
}

/* Add media queries to adjust styles for tablets and phones */
@media (max-width: 999px) {
    .row.dan-index-page {
        flex-direction: column;
    }
    .col-md-6.col-sm-12.order-md-1.d-flex.justify-content-center.align-items-center,
    .col-md-6.col-sm-12.order-md-2.d-flex.justify-content-center {
        order: 2;
        width: 100%;
    }
    .col-md-6.col-sm-12.order-md-2.d-flex.justify-content-center.align-items-center,
    .col-md-6.col-sm-12.order-md-1.d-flex.justify-content-center {
        order: 1;
    }
    .col-md-6.col-sm-12.order-md-1.d-flex.justify-content-center.align-items-center img,
    .col-md-6.col-sm-12.order-md-2.d-flex.justify-content-center img {
        width: 100%; 
        max-width: 100%; 
        height: auto; 
        margin-bottom: 20px;
    }
    
    .col-md-6.col-sm-12.order-md-1.d-flex.justify-content-center.align-items-center,
    .col-md-6.col-sm-12.order-md-2.d-flex.justify-content-center {
        width: 100%; 
    }

    .card.index-about-card {
        width: 90%; 
        margin: auto; 
    }

    .artwork-info {
        position: relative;
        opacity: 1; /* Make it always visible */
        pointer-events: auto; 
        color:#626161;
    }
}

/* For tablets */
@media (max-width: 768px) {
    .logo a img {
        width: 300px; 
    }
    .h2-about {
        font-size: 1.5em;
    }
    .p-about {
        font-size: 1em; 
        padding: 10px; 
    }
    .about-logo {
        width: 150px; 
    }

    .collaboration-form h2 {
        font-size: 1.5em;
    }
    .collaboration-form input[type="text"],
    .collaboration-form input[type="email"],
    .collaboration-form textarea {
        font-size: 14px;
    }
    .collaboration-form button[type="submit"] {
        font-size: 16px;
    }

    .index-about-card {
        width: 100%;
        margin-top: 30px; 
        margin-bottom: 30px;
       
    }
   
}

/* For phones */
@media (max-width: 576px) {
    .logo a img {
        width: 200px; 
    }
    .navbar-nav {
        margin-right: 0; 
        font-size: 16px; 
    }
    .dan-index-page {
        padding: 30px; 
    }
    .dan-photo {
        height: auto; 
        max-width: none; 
    }
    .index-about-card {
        width: 100%;
        margin-top: 30px; 
        margin-bottom: 30px;
    }
    .index-h5 {
        font-size: 1.5em; 
    }
    .index-p {
        font-size: 1em; 
    }
    .carousel-indicators {
        bottom: 10px; 
    }
    .artwork-image {
        height: 300px; 
    }

    .collaboration-form {
        padding: 15px; 
    }
    .collaboration-form h2 {
        font-size: 1.2em; 
    }
    .collaboration-form input[type="text"],
    .collaboration-form input[type="email"],
    .collaboration-form textarea {
        font-size: 12px; 
    }
    .collaboration-form button[type="submit"] {
        font-size: 14px; 
    }

    #carouselExampleIndicators img {
        max-width: 100% !important;
        height: auto !important;
    }
}