node_modules/
npm-debug.log
__pycache__/
*.pyc
target/
*.class
.idea/
.vscode/
*.iml
*.DS_Store
*.exe
*.dll
*.so
*.tmp
*.swp
*.log
*.csv
.env
yarn.lock
package-lock.json
.vscode/settings.json
.idea/workspace.xml
